asgiref
astroid
bandit
black
click
crispy-bootstrap4
dill
Django
django-browser-reload
django-crispy-forms
djangorestframework
gitdb
GitPython
isort
lazy-object-proxy
markdown-it-py
mccabe
mdurl
mypy-extensions
packaging
pathspec
pbr
pillow
platformdirs
Pygments
pylint
pytz
PyYAML
rich
smmap
sqlparse
stevedore
tailwind
tomli
tomlkit
wrapt
